@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&family=Chakra+Petch:wght@300&family=Kumbh+Sans:wght@300&family=Noto+Sans+Mono&family=Zen+Loop&display=swap');
*{
    padding: 5px;
}

:root{
    --primary-color: black;
    --primary-section-bg: grey;
}

body{
    color: var(--primary-color);
    font-family: 'Kumbh Sans', sans-serif;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

button{
    background: none;
    border: 0;
    padding: 0;
}

/*nav*/
.navbar{
    display: flex;
    flex-direction: column;
    border-bottom: 1px rgb(161, 161, 161) solid;
    position: sticky;
}
.nav-link-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-title{
    font-size:xx-large;
    font-weight: 100;
    margin: 0px 0px 0px 5px;
}
.nav-link{
    text-transform: uppercase;
    font-size:smaller;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}
.nav-link:hover{
    cursor: pointer;
    color: rgb(129, 0, 0);
}

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hamburger-checkbox{
    display: none;
}

.hamburger{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15px;
    cursor: pointer;
}

.hamburger-line,
.hamburger-line::before,
.hamburger-line::after{
    padding: 0px;
    display:block;
    height: 1px;
    width: 40px;
    background: rgb(0, 0, 0);
    position: absolute;
    border-radius: 3px;
    transition: transform 1s cubic-bezier(0.1, 1, 0.5, 1);
}

.hamburger-line::before{
    content: "";
    margin-top: -10px;
}
.hamburger-line::after{
    content: "";
    margin-top: 10px;
}

#hamburger-checkbox:checked + .hamburger .hamburger-line::before{
    margin-top: 0px;
    transform: rotate(765deg);
}

#hamburger-checkbox:checked + .hamburger .hamburger-line{
    background-color: rgba(0,0,0,0);
}

#hamburger-checkbox:checked + .hamburger .hamburger-line::after{
    margin-top:0px;
    transform: rotate(-765deg);
}


@media (max-width: 1000px) {
    .hamburger{
        display: flex;
    }
    .mob-nav{
        display: flex;
    }
    .nav-link-container{
        flex-direction: column;
        align-items: center;
        display: none;   
    } 
}

.overlay-menu{
    display: none;
    transition: all 2s ease-in-out;
}

.overlay-activated{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fade-in 0.3s;
}

@keyframes fade-in {
    0%{
        opacity: 0;
        height: 0;
        border-bottom: 1px rgb(192, 192, 192) solid;
        border-radius: 50%;
    }
    100%{
        opacity: 1;
        height: 400px;
    }
}
@keyframes fade-in-img {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*slide show*/
.slide-show{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    overflow: hidden;
}
.slide-show-img{
    height: 100%;
    width: 100%;
    animation: fade-in-img 1s;
}

.arrows{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrow{
    width: 50px;
    height: 50px;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.left:hover{
    transform: translate(-6px);
}
.right:hover{
    transform: translate(6px);
}

@media (max-width: 600px) {
    .slide-show{
        height: 100%;
    }
}

/*Overview*/
.overview-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.overview-img{
    height: 450px;
    width: 550px;
}

.overview-article{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.overview-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    animation: fade-in-img 0.3s;
}

.more-details{
    width: 25px;
    height: 25px;
}
.more-details:hover{
    width: 35px;
} 

.toggle-details-btn{
    color: var(--primary-color);
    cursor: pointer;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
}

.toggle-details-btn::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0px;
    border: 1px solid rgb(0, 0, 0);
    height: 25px;
    transition: all 0.2s ease-in-out;
}

.toggle-details-btn::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 0px;
    border: 1px solid rgb(0, 0, 0);
    height: 25px;
    transition: all 0.2s ease-in-out;
}

.toggle-details-btn:hover{
    box-shadow: 0 0 0 28px rgba(0, 0, 0, 0.774) inset;
    border-color: rgb(0, 0, 0);
    color: white;
}
.toggle-details-btn:hover::after{
    border-color: transparent;
    right: -2px;
}
.toggle-details-btn:hover::before{
    border-color: transparent;
    left: -2px;
}

@media (max-width:1000px) {
    .overview-img{
        height: 300px;
        width: 350px;
    }
    
}

@media (max-width: 700px) {
    .overview-article{
        flex-direction: column;
        align-items: center;
    }
    .overview-img{
        width: 100%;
        height: 95%;
    }
}

/*Footer*/
.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-top: 1px rgb(161, 161, 161) solid;
}
.footer-icon{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}